@model IList<ProjectReview.DTO.Jobs.JobDTO>
@using ProjectReview.DTO.Users;
@using ProjectReview.DTO.Jobs;

@{
	ViewData["Title"] = "Home Page";
	var users = ViewData["Birthday"] as List<UserDTO>;
	var filter = (int) (ViewData["filter"] ?? 1);
	var check1 = false;
	var check2 = false;
	var check3 = false;
	var check4 = false;
	if (filter == 1) { check1 = true; }
	else if (filter == 2) { check2 = true; }
	else if (filter == 3) { check3 = true; }
	else { check4 = true; }
	var ListJob = ViewData["ListJob"] as List<JobDTO>;
}

@section Scripts{
	<script type="text/javascript">
		$('input[name="filter"]').on('change', function () {
			var filter = $('input[name="filter"]:checked').val();
			goToPage(filter);
		});
		$(document).ready(function () {
			$('#radio1').click(function () {
				window.location.href = '/Home/Index?filter=1';
			});
			$('#radio2').click(function () {
				window.location.href = '/Home/Index?filter=2';
			});
			$('#radio3').click(function () {
				window.location.href = '/Home/Index?filter=3';
			});
			$('#radio4').click(function () {
				window.location.href = '/Home/Index?filter=4';
			});
			$('.documentreceived').click(function () {
				window.location.href = '/DocumentReceived/Index';
			});
			$('.documentsent').click(function () {
				window.location.href = '/DocumentSent/Index';
			});
			$('.profile').click(function () {
				window.location.href = '/JobProfiles/Index';
			});
			$('.workflow').click(function () {
				window.location.href = '/Jobs/Index';
			});
		});
		$(document).ready(function () {
			//$('#remindWork').modal('show');
			$('#hideModal').click(function () {
				$('#remindWork').modal('hide');
			});
		});
	</script>
}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
			<div class="card-box noradius noborder bg-danger documentreceived hover-pointer">
				<i class="far fa-envelope float-right text-white"></i>
				<h6 class="text-white m-b-20">Văn bản đến (@ViewData["Year"])</h6>
				<h1 class="m-b-20 text-white counter">@ViewData["DocumentReceived"]</h1>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
			<div class="card-box noradius noborder bg-primary documentsent">
				<i class="fas fa-envelope float-right text-white"></i>
				<h6 class="text-white m-b-20">Văn bản đi (@ViewData["Year"])</h6>
				<h1 class="m-b-20 text-white counter">@ViewData["DocumentSent"]</h1>
			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
			<div class="card-box noradius noborder bg-warning profile">
				<i class="fas fa-tasks float-right text-white"></i>
				<h6 class="text-white m-b-20">Danh mục hồ sơ</h6>
				<h1 class="m-b-20 text-white counter">@ViewData["Profile"]</h1>

			</div>
		</div>

		<div class="col-xs-12 col-md-6 col-lg-6 col-xl-3">
			<div class="card-box noradius noborder bg-info workflow">
				<i class="fab fa-app-store float-right text-white"></i>
				<h6 class="text-white m-b-20">Nhiệm vụ cần giải quyết</h6>
				<h1 class="m-b-20 text-white counter">@ViewData["Notification"]</h1>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-9 col-xl-9">
			@*<div class="row">

				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="card mb-3 card-border">
						<div class="card-header card-title">
							<h3><a href="?cate=vanbanden"><i class="far fa-envelope"></i> Văn bản đến</a></h3>
							<div class="time-update small text-muted">Cập nhật: @DateTime.Now.Date</div>
						</div>

						<div class="card-body">

							<div class="widget-messages nicescroll" tabindex="5000" style="overflow: hidden; outline: none;">

								<div class="message-item">
									<p class="message-item-user">Số ký hiệu: 01/CONGVANMAU</p>
									<p class="message-item-msg"><span onclick="OpenVanbanden(673)">công văn quyết định 1234</span></p>
									<p class="message-item-date">13/05/2023</p>
								</div>
							</div>
						</div>

						<div class="card-footer text-muted">
							<a href="?cate=vanbanden">Xem thêm <i class="fas fa-angle-double-right"></i></a>
						</div>

					</div>
				</div>


				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
					<div class="card mb-3 card-border">
						<div class="card-header card-title">
							<h3><a href="?cate=vanbandi"><i class="fas fa-envelope"></i> Văn bản đi</a></h3>
							<div class="time-update small text-muted">Cập nhật: @DateTime.Now.Date</div>
						</div>

						<div class="card-body">

							<div class="widget-messages nicescroll" tabindex="5001" style="overflow: hidden; outline: none;">

								<div class="message-item">
									<p class="message-item-user">Số ký hiệu: 1/01/QUYETDINH-TL</p>
									<p class="message-item-msg"><span onclick="OpenVanbandi(220)">Công văn số 1427/VTLTNN-HC ngày 13/5/2023 của cục về việc triển khai nghị định</span></p>
									<p class="message-item-date">13/05/2023</p>
								</div>
							</div>

						</div>

						<div class="card-footer text-muted">
							<a href="?cate=vanbandi">Xem thêm <i class="fas fa-angle-double-right"></i></a>
						</div>
					</div>
				</div>
			</div>*@

			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
					<div class="card mb-3 card-border-workflow">
						<div class="card-header card-title">
							<h3><i class="fas fa-tasks"></i> Danh sách nhiệm vụ</h3>
							<div class="time-update small text-muted m-4 pt-1"><a asp-area="" asp-action="Index" asp-controller="Jobs">Xem thêm <i class="fas fa-angle-double-right"></i></a></div>
						</div>
						<div class="toolbar m-3">
							<label class="custom-control custom-radio custom-control-inline me-3">
								<input type="radio" name="filter" id="radio1" class="custom-control-input" value=1 checked=@check1>
								<span class="custom-control-label">Đang chờ duyệt</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline me-3">
								<input type="radio" name="filter" id="radio2" class="custom-control-input" value=2 checked=@check2>
								<span class="custom-control-label">Đang xử lý</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline me-3">
								<input type="radio" name="filter" id="radio3" class="custom-control-input" value=3 checked=@check3>
								<span class="custom-control-label">Đã xử lý</span>
							</label>
							<label class="custom-control custom-radio custom-control-inline">
								<input type="radio" name="filter" id="radio4" class="custom-control-input" value=4 checked=@check4>
								<span class="custom-control-label">Quá hạn xử lý</span>
							</label>
						</div>
						<div class="card-body">
							<div class="widget-messages nicescroll" tabindex="5002" style="overflow: hidden; outline: none;">
								@if(Model == null || Model.Count == 0)
								{
									<div id="listWorkflow">Không có nhiệm vụ nào</div>
								} else
								{
									@foreach(var item in Model)
									{
										<div class="mb-4">
											<p class="text-danger"><b class="text-primary">Nhiệm vụ: </b>@item.Content</p>
											<p><b class="text-black">Bắt đầu: </b>@item.CreateDate.ToString("dd/MM/yyyy")</p>
											<p><b class="text-black">Ngày hết hạn: </b>@item.Deadline.ToString("dd/MM/yyyy")</p>
											<p><b class="text-black">Người giao: </b>@item.CreateUser.FullName</p>
										</div>
									}
								}
							</div>
						</div>

					</div>
					<button type="button" id="btn-remindWork" class="btn btn-primary" data-toggle="modal" data-target="#remindWork">Hệ thống nhắc việc</button>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-3 col-xl-3">
			<div class="card mb-3 card-border-birthday">
				<div class="card-header card-title-birthday">
					<h3><i class="fas fa-birthday-cake me-2"></i> Thông báo sinh nhật <span class="totalCanboBirth">(@users.Count cán bộ)</span></h3>

				</div>

				<div class="card-body">
					@if (users == null || users.Count == 0)
					{
						<div class="birthday">

							Hôm nay không có ai sinh nhật
						</div>
					} else
					{
						<h4 class="text-danger m-2 mb-4">Chúc mừng sinh nhật</h4>
						<ul>
							@foreach (var item in users)
							{
								<li class="m-2"><i class="fa-solid fa-star me-2"></i> @item.FullName (@item.Birthday.ToString("dd/MM/yyyy"))</li>
							}
						</ul>
					}
				</div>
			</div><div class="card mb-3 card-border-alert-congviec">
				<div class="card-header card-title-alert-congviec">
					<h3><i class="fab fa-app-store me-2"></i> Nhiệm vụ mới <span class="totalCongviec">( công việc)</span></h3>
				</div>

				<div class="card-body">
					<div class="widget-messages nicescroll" tabindex="5005" style="overflow: hidden; outline: none;">
						<ul>
							@if (ListJob != null && ListJob.Count > 0)
							{
								@foreach (var item in ListJob)
								{
									@if ((item.Status == 2 || item.Status == 1) && (DateTime.Now.Date - item.CreateDate.Date).Days <= 3)
									{
										<li class="m-2 text-primary"><i class="fas fa-star text-warning me-2"></i><a asp-action="Detail" asp-area="" asp-controller="Jobs" asp-route-id="@item.Id" >@item.Content (@item.Deadline.ToString("dd/MM/yyyy"))</a></li>
									}
								}
							}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="modal fade" id="remindWork" tabindex="-1" role="dialog" aria-labelledby="remindWork" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addDepartmentModalLabel">Hệ thống nhắc việc</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
					<ul>
						<h5><i class="fas fa-table"></i> Công việc cần xử lý</h5>
						@if (ListJob != null && ListJob.Count > 0)
						{
							@foreach (var item in ListJob)
							{
								@if (item.Status == 2 || item.Status == 1)
								{
									<li class="m-2 text-primary"><i class="fas fa-star text-warning me-2"></i><a asp-action="Detail" asp-area="" asp-controller="Jobs" asp-route-id="@item.Id">@item.Content (@item.Deadline.ToString("dd/MM/yyyy"))</a></li>
								}
							}
						}
					</ul>
				</div>
				<div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
					<ul>
						<h5><i class="fas fa-table"></i> Công việc đến hạn</h5>
						@if (ListJob != null && ListJob.Count > 0)
						{
							@foreach (var item in ListJob)
							{
								@if (item.Deadline.Date == DateTime.Now.Date)
								{
									<li class="m-2 text-primary"><i class="fas fa-star text-warning me-2"></i><a asp-action="Detail" asp-area="" asp-controller="Jobs" asp-route-id="@item.Id">@item.Content (@item.Deadline.ToString("dd/MM/yyyy"))</a></li>
								}
							}
						}
					</ul>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" id="hideModal" data-dismiss="modal">Đóng</button>
			</div>
		</div>
	</div>
</div>