@model ProjectReview.DTO.Users.UserFilter;
@using ProjectReview.DTO.Users
@using ProjectReview.Models.Entities;

@{
	ViewData["Title"] = "User";
	var items = ViewData["items"] as List<UserDTO>;
	int currentPage = (int)(ViewData["page"] ?? 0);
	int totalPage = (int)(ViewData["totalPage"] ?? 0);
	int pageSize = (int)(ViewData["pageSize"] ?? 10);
	var check1 = false;
	var check2 = false;
	var check3 = false;
	var check4 = false;
	if (pageSize == 10) { check1 = true; }
	else if (pageSize == 20) { check2 = true; }
	else if (pageSize == 50) { check3 = true; }
	else { check4 = true; }
	var count = currentPage * 10 - 9;
}

@section Scripts{
	<script>
		const input = document.querySelector('.input-page');
		const btnGo = document.querySelector('.btnGo');
		const feedback = document.querySelector('.invalid-feedback');
		const choose = document.querySelector('#selectPageSize')
		const currentPage = @ViewData["page"];
		const totalPage = @ViewData["totalPage"];
		const pageSize = @ViewData["pageSize"]

			choose.addEventListener('change', function (e) {
				e.preventDefault();
				const size = choose.value;
				console.log(size);
				console.log(choose)
				window.location.href = '/Users/Index?size=' + size;
			});

		btnGo.addEventListener('click', function (e) {
			e.preventDefault();

			const page = input.value.trim();
			if (isNaN(page) || page < 1 || page > totalPage) {
				feedback.classList.remove("d-none");
				feedback.classList.add("d-block");
				input.classList.add('is-invalid');
				return;
			}
			window.location.href = '/Users/Index?page=' + page + '&size=' + pageSize;
		});

		input.addEventListener('input', function () {
			feedback.classList.remove("d-block");
			feedback.classList.add("d-none");
			input.classList.remove('is-invalid');
		});
		function goToPage(page) {
			window.location.href = "/Users/Index?page=" + page + '&size=' + pageSize;
		}
	</script>
}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4><i class="far fa-folder-open"></i> Quản lý cán bộ</h4>
				</div>
				<div class="card-body container-card">
					<div class="card-content">
						<div class="d-flex">
							<div class="mt-4">
								<a class="btn btn-primary mb-3 me-3" asp-action="Create" style="height: 40px">
									<i class="fa-solid fa-add"></i><span class="m-1 text-white">  Thêm mới</span>
								</a>
								<div>
									<span>Số dòng: </span>
									<select id="selectPageSize" class="form-select mb-3" style="width: 90px">
										<option value=10 checked=@check1>10</option>
										<option value=20 checked=@check2>20</option>
										<option value=50 checked=@check3>50</option>
										<option value=100 checked=@check4>100</option>
									</select>
								</div>
							</div>
							<div class="mb-3 col-md-4 ms-auto">
								<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
									<div class="mb-3">
										<label asp-for="FullName" class="mb-1 fw-bold">Họ tên</label>
										<input asp-for="FullName" class="form-control" aria-required="true">
										<span asp-validation-for="FullName" class="text-danger"></span>
									</div>
									<div class="d-flex align-items-center justify-content-center mt-3">
										<button type="submit" class="btn btn-lg btn-warning mx-2 d-flex align-items-center justify-content-center text-white" style="width: 150px">
											<i class="fa-solid fa-search"></i><span class="m-1">  Tìm kiếm</span>
										</button>
										<a type="button" class="btn btn-lg btn-info mx-2 d-flex align-items-center justify-content-center" asp-area="" asp-controller="Users" asp-action="ClearSession" style="width: 100px">
											<i class="fa-solid fa-arrows-rotate"></i><span class="m-1">Reset</span>
										</a>
									</div>
								</form>
							</div>
						</div>
						<div class="dataTables_wrapper dt-bootstrap4 no-footer">
							<div class="row">
								<div class="col-sm-12">
									<table id="tblListDonvi" class="table table-bordered table-hover display dataTable no-footer" style="width: 100%;" role="grid" aria-describedby="tblListDonvi_info">
										<thead>
											<tr class="first-row" role="row">
												<th class="text-center sorting_disabled" style="width: 28px;">TT</th>
												<th class="text-center sorting_disabled" style="width: 150px;">Họ và tên</th>
												<th class="text-center sorting_disabled" style="width: 150px;">Ngày sinh</th>
												<th class="text-center sorting_disabled" style="width: 50px;">Giới tính</th>
												<th class="text-center sorting_disabled" style="width: 80px;">Chức vụ</th>
												<th class="text-center sorting_disabled" style="width: 80px;">Cấp bậc</th>
												<th class="text-center sorting_disabled" style="width: 150px;">Nhóm quyền</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Tên truy cập</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Email</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Trạng thái</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Tác vụ</th>
											</tr>
										</thead>
										<tbody>
											@if (items == null || items.Count == 0)
											{
												<tr>
													<td colspan="11" class="text-center">Không có dữ liệu</td>
												</tr>
											}
											else
											{
												@foreach (var item in items)
												{
													<tr>
														<td class="text-center">@count</td>
														<td class="text-center">@item.FullName</td>
														<td class="text-center">@item.Birthday.ToString("dd/MM/yyyy")</td>
														<td class="text-center">@item.Gender</td>
														<td class="text-center">@item.Position.Name</td>
														<td class="text-center">@item.Rank.Name</td>
														<td class="text-center">@item.PermissionGroup.Name</td>
														<td class="text-center">@item.UserName</td>
														<td class="text-center">@item.Email</td>
														@if (item.Status == 0)
														{
															<td class="text-center"><a type="button" class="btn btn-success" asp-area="" asp-controller="Users" asp-action="Active" asp-route-id="@item.Id">Kích hoạt</a></td>
														}
														else
														{
															<td class="text-center">Hoạt động</td>
														}
														<td class=" text-center">
															<a type="button" class="btn btn-warning btn-xs" asp-area="" asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id">
																<i class="fas fa-pencil-alt"></i>
															</a>
															@if (item.Status == 0)
															{
																<a type="button" class="btn btn-danger btn-xs" onclick="return confirm('Bạn chắc chắn muốn xóa thông tin này?');" asp-area="" asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id">
																	<i class="fas fa-trash-alt"></i>
																</a>
															}
														</td>
													</tr>
													count++;
												}
											}
										</tbody>
									</table>
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-start">
											@if (currentPage == 1)
											{
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1">Trước</a>
												</li>
											}
											else
											{
												<li class="page-item">
													<a class="page-link" href="#" onclick="goToPage(@currentPage - 1)">Trước</a>
												</li>
											}
											@if (totalPage > 0)
											{
												@if (currentPage > 3)
												{
													<li class="page-item d-none d-md-block">
														<a class="page-link">...</a>
													</li>
												}
												@for (var i = (currentPage - 2); i <= (currentPage + 2); i++)
												{
													@if (i > 0 && i <= totalPage)
													{
														@if (i == currentPage)
														{
															<li class="page-item active"><a class="page-link" href="#" onclick="goToPage(@i)">@i</a></li>
														}
														else
														{
															<li class="page-item"><a class="page-link" href="#" onclick="goToPage(@i)">@i</a></li>
														}
													}
												}
												@if (currentPage < (totalPage - 2))
												{
													<li class="page-item d-none d-md-block">
														<a class="page-link">...</a>
													</li>
												}
											}
											@if (currentPage == totalPage)
											{
												<li class="page-item disabled">
													<a class="page-link" href="#">Sau</a>
												</li>
											}
											else
											{
												<li class="page-item">
													<a class="page-link" href="#" onclick="goToPage(@currentPage + 1)">Sau</a>
												</li>
											}
										</ul>
									</nav>
									<div>
										<div class="d-flex align-items-center justify-content-center mt-3">
											<div>
												<div class="input-group">
													<div class="input-group-prepend">
														<button class="btn btn-primary btnGo" type="button">Đi</button>
													</div>
													<input class="form-control input-page" style="margin-left: 2px; width: 60px;margin-right: 10px;">
												</div>
												<span class="text-danger"></span>
											</div>
											@if (currentPage > 1)
											{
												<button type="button" class="btn btn-outline-primary" onclick="goToPage(@currentPage - 1)">Trước</button>
											}
											<span class="mx-2">Trang: <span id="currentPage">@ViewData["page"]</span></span>
											@if (currentPage < totalPage)
											{
												<button type="button" class="btn btn-outline-primary" onclick="goToPage(@currentPage + 1)">Sau</button>
											}
											<span class="mx-2">Số trang: <span id="currentPage">@ViewData["totalPage"]</span></span>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-center mt-3">
											<span class="d-flex align-items-center justify-content-center invalid-feedback d-none">Vui lòng nhập số từ 1 đến @ViewData["totalPage"]</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>