@model ProjectReview.DTO.Documents.DocumentDTO;
@{
    ViewData["Title"] = "DocumentSent-Detail";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h4><i class="far fa-folder-open"></i> Chi tiết văn bản đi</h4>
                </div>
                <div class="card-body container-card">
                    <div class="card-content">
                        <div class="row">
                            <div class="d-flex m-2">
                                <div class="col-md-3">Ngày đi: <span class="text-primary">@Model.CreateDate.ToString("dd/MM/yyyy")</span></div>
                                <div class="col-md-2">Số đi: <span class="text-primary">@Model.Number</span></div>
                                <div class="col-md-3">Số ký hiệu: <span class="text-primary">@Model.Symbol</span></div>
                                <div class="col-md-4">Ngày tháng văn bản: <span class="text-primary">@Model.DateIssued.ToString("dd/MM/yyyy")</span></div>
                            </div>
                            <div class="d-flex m-2">
                                <div class="col-md-8">Cơ quan ban hành: <span class="text-primary">@Model.Author</span></div>
                                <div class="col-md-4">Tên loại văn bản: <span class="text-primary">@Model.DocumentType.Name</span></div>
                            </div>
                            <div class="d-flex m-2">
                                <div class="col-md-12">Trích yếu nội dung: <span class="text-primary">@Model.Content</span></div>
                            </div>
                            <div class="d-flex m-2">
                                <div class="col-md-3">Độ mật: <span class="text-primary">@Model.Density.Detail</span></div>
                                <div class="col-md-2">Độ khẩn: <span class="text-primary">@Model.Urgency.Detail</span></div>
                                <div class="col-md-3">Số tờ: <span class="text-primary">@Model.NumberPaper</span></div>
                                <div class="col-md-4">Ngày chuyển xử lý: 
                                    @if(Model.Job != null)
                                    {
                                        <span class="text-primary">@Model.Job.CreateDate.ToString("dd/MM/yyyy")</span>
                                    }
                                </div>
                            </div>
                            <div class="d-flex m-2">
                                <div class="col-md-6">Đơn vị hoặc người nhận: 
                                    @if(Model.Job != null)
                                    {
                                        <span class="text-primary">@Model.Job.Host.FullName</span>
                                    }
                                </div>
                                <div class="col-md-6">Nội dung yêu cầu xử lý: 
                                    @if (Model.Job != null)
                                    {
                                        <span class="text-primary">@Model.Job.Content</span>
                                    }
                                    <span class="text-primary"></span>
                                </div>
                            </div>
                            <div class="d-flex m-2">
                                <div class="col-md-12">Hồ sơ công việc: <br />
                                    <ul>
                                        @foreach(var item in Model.JobProfiles)
                                        {
                                            <li class="text-primary">@item.Name</li>
                                        }
                                    </ul>
                                </div>
                            </div>
                            @if(Model.FilePath != null && Model.FilePath != "")
                            {
                                <div class="d-flex m-2">
                                    <div >Tệp đính kèm:  <a href="https://192.168.96.93:7123/file/@Model.FilePath">@Model.FileName</a></div>
                                </div>
                            }
                            <div class="m-2">
                                <a type="button" class="btn btn-lg btn-secondary d-flex flex-column align-items-center justify-content-center" asp-area="" asp-controller="DocumentSent" asp-action="Index" asp-route-page="@ViewContext.HttpContext.Session.GetInt32("page")" style="width: 100px">
                                    <i class="fa-solid fa-arrow-left"></i> Trở về
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        const menu = document.querySelector(".menu-documentsent");
        menu.classList.add("subdrop");
    </script>
}

