@model ProjectReview.DTO.Documents.DocumentFilter;
@using ProjectReview.DTO.Documents
@using ProjectReview.Models.Entities;
@using ProjectReview.Common;

@{
	ViewData["Title"] = "DocumentSent";
	var items = ViewData["items"] as List<DocumentDTO>;
	int currentPage = (int)(ViewData["page"] ?? 0);
	int totalPage = (int)(ViewData["totalPage"] ?? 0);
	int pageSize = (int)(ViewData["pageSize"] ?? 10);
	var count = currentPage * 10 - 9;
}

@section Scripts{
	<script>
		const menu = document.querySelector(".menu-documentsent");
		menu.classList.add("subdrop");
		const input = document.querySelector('.input-page');
		const btnGo = document.querySelector('.btnGo');
		const feedback = document.querySelector('.invalid-feedback');
		const choose = document.querySelector('#selectPageSize')
		const currentPage = @ViewData["page"];
		const totalPage = @ViewData["totalPage"];
		const pageSize = @ViewData["pageSize"];
		document.getElementById("selectPageSize").value = pageSize;

			choose.addEventListener('change', function (e) {
				e.preventDefault();
				const size = choose.value;
				console.log(size);
				console.log(choose)
				window.location.href = '/DocumentSent/Index?size=' + size;
			});

		btnGo.addEventListener('click', function (e) {
			e.preventDefault();

			const page = input.value.trim();
			if (isNaN(page) || page < 1 || page > totalPage) {
				feedback.classList.remove("d-none");
				feedback.classList.add("d-block");
				input.classList.add('is-invalid');
				return;
			}
			window.location.href = '/DocumentSent/Index?page=' + page + '&size=' + pageSize;
		});

		input.addEventListener('input', function () {
			feedback.classList.remove("d-block");
			feedback.classList.add("d-none");
			input.classList.remove('is-invalid');
		});
		function goToPage(page) {
			window.location.href = "/DocumentSent/Index?page=" + page + '&size=' + pageSize;
		}
	</script>
}

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
			<div class="card">
				<div class="card-header">
					<h4><i class="fas fa-table"></i> Văn bản đi</h4>
				</div>
				<div class="card-body container-card">
					<div class="card-content">
						<div class="d-flex">
							<div class="mt-4">
								@if (RoleCheck.CheckRole("ManageDocument"))
								{
									<a class="btn btn-primary mb-3 me-3" asp-action="Create" style="height: 40px">
										<i class="fa-solid fa-add"></i><span class="m-1 text-white">  Thêm mới</span>
									</a>
									<a class="btn btn-success mb-3 me-3" asp-action="Export" style="height: 40px">
										<i class="fas fa-file-excel"></i><span class="m-1 text-white">  Xuất file</span>
									</a>
								}
								<div>
									<span>Số dòng: </span>
									<select id="selectPageSize" class="form-select mb-3" aria-label="Default select example" value=@pageSize style="width: 90px">
										<option value=10>10</option>
										<option value=20>20</option>
										<option value=50>50</option>
										<option value=100>100</option>
									</select>
								</div>
							</div>
							<div class="mb-3 col-md-4 ms-auto">
								<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
									<div class="mb-3">
										<label asp-for="Content" class="mb-1 fw-bold">Nội dung</label>
										<input asp-for="Content" class="form-control" aria-required="true">
										<span asp-validation-for="Content" class="text-danger"></span>
									</div>
									<div class="d-flex align-items-center justify-content-center mt-3">
										<button type="submit" class="btn btn-lg btn-warning mx-2 d-flex align-items-center justify-content-center text-white" style="width: 150px">
											<i class="fa-solid fa-search"></i><span class="m-1">  Tìm kiếm</span>
										</button>
										<a type="button" class="btn btn-lg btn-info mx-2 d-flex align-items-center justify-content-center" asp-area="" asp-controller="DocumentSent" asp-action="ClearSession" style="width: 100px">
											<i class="fa-solid fa-arrows-rotate"></i><span class="m-1">Reset</span>
										</a>
									</div>
								</form>
							</div>
						</div>
						<div class="dataTables_wrapper dt-bootstrap4 no-footer">
							<div class="row">
								<div class="col-sm-12">
									<table class="table table-bordered table-hover display dataTable no-footer" style="width: 100%;" role="grid">
										<thead>
											<tr class="first-row" role="row">
												<th class="text-center sorting_disabled" style="width: 28px;">TT</th>
												<th class="text-center sorting_disabled" style="width: 50px;">Tác vụ</th>
												<th class="text-center sorting_disabled" style="width: 80px;">Ngày đi</th>
												<th class="text-center sorting_disabled" style="width: 40px;">Số đi</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Tác giả</th>
												<th class="text-center sorting_disabled" style="width: 80px;">Số kí hiệu</th>
												<th class="text-center sorting_disabled" style="width: 80px;">Ngày văn bản</th>
												<th class="text-center sorting_disabled" style="width: 120px;">Trích yếu</th>
												<th class="text-center sorting_disabled" style="width: 130px;">Người nhận xử lý</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Ngày chuyển</th>
												<th class="text-center sorting_disabled" style="width: 100px;">Ghi chú</th>
											</tr>
										</thead>
										<tbody>
											@if (items == null || items.Count == 0)
											{
												<tr>
													<td colspan="11" class="text-center">Không có dữ liệu</td>
												</tr>
											}
											else
											{
												@foreach (var item in items)
												{
													<tr>
														<td class="text-center">@count</td>
														<td class="text-center">
															@if (RoleCheck.CheckRole("ManageDocument") && RoleCheck.CheckRole("AssignDocument"))
															{
																<a type="button" class="m-2" asp-area="" asp-controller="DocumentSent" asp-action="Edit" asp-route-id="@item.Id">
																	<img src="https://192.168.96.93:7123/icons/pencil.png" title="Sửa văn bản">
																</a>
																@if (item.IsAssign == false)
																{
																	<a type="button" class="m-2" onclick="return confirm('Bạn chắc chắn muốn xóa thông tin này?');" asp-area="" asp-controller="DocumentSent" asp-action="Delete" asp-route-id="@item.Id">
																		<img src="https://192.168.96.93:7123/icons/delete.gif" title="Xóa văn bản">
																	</a>
																	<a type="button" class="m-2" asp-area="" asp-controller="DocumentSent" asp-action="Assign" asp-route-id="@item.Id">
																		<img src="https://192.168.96.93:7123/icons/phanxl.png" title="Phân xử lý công việc">
																	</a>
																}
																<a type="button" class="m-2" asp-area="" asp-controller="DocumentSent" asp-action="AddProfile" asp-route-id="@item.Id">
																	<img src="https://192.168.96.93:7123/icons/folders.png" title="Đưa văn bản vào hồ sơ">
																</a>
																@if (item.IsAssign == true)
																{
																	<a type="button" class="m-2" onclick="return confirm('Nếu thu hồi văn bản, các thông tin liên quan sẽ bị xóa. Bạn vẫn muốn thu hồi thông tin này?');" asp-area="" asp-controller="DocumentSent" asp-action="Recall" asp-route-id="@item.Id">
																		<img class="h-150" src="https://192.168.96.93:7123/icons/redo.png" title="Thu hồi văn bản">
																	</a>
																	<a type="button" class="m-2" asp-area="" asp-controller="DocumentSent" asp-action="Print" asp-route-id="@item.Id">
																		<img src="https://192.168.96.93:7123/icons/print.png" title="In chỉ đạo giải quyết văn bản">
																	</a>
																}
																@*<a type="button" class="m-2" asp-area="" asp-controller="DocumentSent" asp-action="Print" asp-route-id="@item.Id">
																	<img src="https://192.168.96.93:7123/icons/print.png" title="In chỉ đạo giải quyết văn bản">
																</a>*@
															}
															else if (RoleCheck.CheckRole("AssignDocument"))
															{
																@if (item.IsAssign == false)
																{
																	<a type="button" class="m-2" asp-area="" asp-controller="DocumentSent" asp-action="Assign" asp-route-id="@item.Id">
																		<img src="https://192.168.96.93:7123/icons/phanxl.png" title="Phân xử lý công việc">
																	</a>
																}
																@if (item.IsAssign == true)
																{
																	<a type="button" class="m-2" onclick="return confirm('Nếu thu hồi văn bản, các thông tin liên quan sẽ bị xóa. Bạn vẫn muốn thu hồi thông tin này?');" asp-area="" asp-controller="DocumentSent" asp-action="Recall" asp-route-id="@item.Id">
																		<img class="h-150" src="https://192.168.96.93:7123/icons/redo.png" title="Thu hồi văn bản">
																	</a>
																}
															}
														</td>
														<td class="text-center">@item.CreateDate.ToString("dd/MM/yyyy")</td>
														<td class="text-center">@item.Number</td>
														<td class="text-center">@item.Author</td>
														<td class="text-center">@item.Symbol</td>
														<td class="text-center">@item.DateIssued.ToString("dd/MM/yyyy")</td>
														<td class="text-center"><a asp-action="Detail" asp-area="" asp-controller="DocumentSent" asp-route-id="@item.Id">@item.Content</a></td>
														@if (item.Job != null)
														{
															<td>
																<b>Chủ trì: </b><br />
																@item.Job.Host.FullName<br />
																<b>Theo dõi-chỉ đạo: </b><br />
																@item.Job.Instructor.FullName<br />
																<b>Thực hiện: </b><br />
																<ul>
																	@foreach (var user in item.Job.Users)
																	{
																		<li>@user.FullName</li>
																	}
																</ul>
															</td>
															<td class="text-center">@item.Job.CreateDate.ToString("dd/MM/yyyy")</td>
														}
														else
														{
															<td class="text-center"></td>
															<td class="text-center"></td>
														}
														<td class="text-center">@item.Note</td>
														@*@if (item.Status == 0)
												{
												<td class="text-center"><a type="button" class="btn btn-success" asp-area="" asp-controller="Documents" asp-action="Active" asp-route-id="@item.Id">Kích hoạt</a></td>
												}
												else
												{
												<td class="text-center">Hoạt động</td>
												}
												<td class=" text-center">
												<a type="button" class="btn btn-warning btn-xs" asp-area="" asp-controller="Documents" asp-action="Edit" asp-route-id="@item.Id">
												<i class="fas fa-pencil-alt"></i>
												</a>
												@if (item.Status == 0)
												{
												<a type="button" class="btn btn-danger btn-xs" onclick="return confirm('Bạn chắc chắn muốn xóa thông tin này?');" asp-area="" asp-controller="Documents" asp-action="Delete" asp-route-id="@item.Id">
												<i class="fas fa-trash-alt"></i>
												</a>
												}
												</td>*@
													</tr>
													count++;
												}
											}
										</tbody>
									</table>
									<nav aria-label="Page navigation example">
										<ul class="pagination justify-content-start">
											@if (currentPage == 1)
											{
												<li class="page-item disabled">
													<a class="page-link" href="#" tabindex="-1">Trước</a>
												</li>
											}
											else
											{
												<li class="page-item">
													<a class="page-link" href="#" onclick="goToPage(@currentPage - 1)">Trước</a>
												</li>
											}
											@if (totalPage > 0)
											{
												@if (currentPage > 3)
												{
													<li class="page-item d-none d-md-block">
														<a class="page-link">...</a>
													</li>
												}
												@for (var i = (currentPage - 2); i <= (currentPage + 2); i++)
												{
													@if (i > 0 && i <= totalPage)
													{
														@if (i == currentPage)
														{
															<li class="page-item active"><a class="page-link" href="#" onclick="goToPage(@i)">@i</a></li>
														}
														else
														{
															<li class="page-item"><a class="page-link" href="#" onclick="goToPage(@i)">@i</a></li>
														}
													}
												}
												@if (currentPage < (totalPage - 2))
												{
													<li class="page-item d-none d-md-block">
														<a class="page-link">...</a>
													</li>
												}
											}
											@if (currentPage == totalPage)
											{
												<li class="page-item disabled">
													<a class="page-link" href="#">Sau</a>
												</li>
											}
											else
											{
												<li class="page-item">
													<a class="page-link" href="#" onclick="goToPage(@currentPage + 1)">Sau</a>
												</li>
											}
										</ul>
									</nav>
									<div>
										<div class="d-flex align-items-center justify-content-center mt-3">
											<div>
												<div class="input-group">
													<div class="input-group-prepend">
														<button class="btn btn-primary btnGo" type="button">Đi</button>
													</div>
													<input class="form-control input-page" style="margin-left: 2px; width: 60px;margin-right: 10px;">
												</div>
												<span class="text-danger"></span>
											</div>
											@if (currentPage > 1)
											{
												<button type="button" class="btn btn-outline-primary" onclick="goToPage(@currentPage - 1)">Trước</button>
											}
											<span class="mx-2">Trang: <span id="currentPage">@ViewData["page"]</span></span>
											@if (currentPage < totalPage)
											{
												<button type="button" class="btn btn-outline-primary" onclick="goToPage(@currentPage + 1)">Sau</button>
											}
											<span class="mx-2">Số trang: <span id="currentPage">@ViewData["totalPage"]</span></span>
										</div>
									</div>
									<div>
										<div class="d-flex align-items-center justify-content-center mt-3">
											<span class="d-flex align-items-center justify-content-center invalid-feedback d-none">Vui lòng nhập số từ 1 đến @ViewData["totalPage"]</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>